
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
env/*
!env/.env.example
!env/.env.ci
*.tsbuildinfo
.vscode/
.idea/
.DS_Store
coverage/   
reports/
storageState.json